{{!-- <h1> South Florida's top reported dive sites</h1> --}}

{{!-- field after each is the name called by
.data.(theList) in 
router.get('/divesites', function (req, res) {
  Dive.find()
  .then(divesites => {
    let data = {};
    data.theList = divesites;
    res.render('index', data)
  })
  .catch(theError => { console.log(theError) })
}) --}}
{{#each theList}}
    <br>
<a href="/divesites/{{this._id}}">{{this.title}}</a>
    
  
    <br>

    {{!-- Sorts the results by Keys:value. 
    This. ->theList-> divesites --}}
{{/each}}
