<<div class="form-style">

<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
    {{!-- <div>
    <label for="e-mail">email:</label>
    <input type="text" name="email">
  </div> --}}
  {{!-- add email  --}}
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
 </div>